<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="_fragments :: head(~{::title})">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>打卡管理</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css">
    </head>
    <body>

        <!--导航-->
        <nav th:replace="_fragments :: menu(6)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>

        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" th:href="@{/sign/input}" class="item">签到</a>
                    <a href="#" th:href="@{/sign}" class="teal active item">列表</a>
                </div>
            </div>
        </div>

        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${message}">恭喜，操作成功！</p>
                </div>
                <div class="ui left labeled input">
                    <a class="ui teal basic label selects" href="#" th:href="@{/sign}">查询</a>
                </div>
                <form th:id="form1" th:name="form1">
                    <table class="ui compact teal table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>签到日期</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sign,iterStat : ${page.content}">
                            <td th:text="${iterStat.count}">1</td>
                            <td>
                                <div class="column"><i class="calendar alternate icon"></i><a th:text="${#dates.format(sign.createTime, 'yyyy-MM-dd')}" class="ui mini primary button">签到列表</a></div>
                            </td>
                            <td th:if="${#strings.length(sign.content)}<=11" th:text="${sign.content}">内容</td>
                            <td th:if="${#strings.length(sign.content)}>11" th:text="|${#strings.substring(sign.content,0,10)} ...|">内容</td>
                            <td>
                                <a href="#" th:href="@{/sign/{id}/view(id=${sign.id})}" class="ui mini blue basic button">查看</a>
                                <a href="#" th:href="@{/sign/{id}/input(id=${sign.id})}" class="ui mini teal basic button">编辑</a>
                                <a th:onclick="'javascript:deleteApply('+${sign.id}+')'" class="ui mini red basic button">删除</a>
                                <a href="#" th:href="@{/sign/{id}/upload(id=${sign.id})}" class="ui mini orange basic button">上传图片</a>
                            </td>
                        </tr>
                        <!--<input th:name="abc" hidden th:value="aca">-->
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                    <a th:href="@{/sign(page=${page.number}-1)}" class="  item" th:unless="${page.first}">上一页</a>
                                    <a th:href="@{/sign(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
                                </div>
                                <a href="#" th:href="@{/sign/input}" class="ui mini right floated teal basic button">签到</a>
                                <!--<a class="ui mini right floated teal basic button" th:id="cs">测试</a>-->
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--底部footer-->
        <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
        <!--/*/<th:block th:replace="_fragments :: script">/*/-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <!--/*/</th:block>/*/-->
        <script>
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });

            $('.ui.dropdown').dropdown({
                on: 'hover'
            });

            //消息提示关闭初始化
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });

            //删除操作（Ajax）
            function deleteApply(id) {
                $.layer.confirm("确定删除", function () {
                    $.util.ajaxPost("正在删除", "/sign/delete?id=" + id, function (respData) {
                        if (respData.flag == 1) {
                            $.layer.alertSuccess(respData.msg, function () {
                                window.location.href = "/sign"
                            });
                        }
                        if (respData.flag == -1) {
                            $.layer.alertFailure(respData.msg);
                        }
                    })
                });
            }

        </script>
    </body>
</html>